/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v10-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*10px */
  height: 100%;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
body {
  font-size: 1.6rem;
  height: 100%;
  /* flex-direction: column; */
  font-family: "Bebas Neue", sans-serif;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
.wrapper {
  display: flex;
  height: 100%;
  /* flex-grow: 1; */
}
.hero {
  width: 50%;
  height: 100%;
  background-image: url(../img/Rectangle\ 1.png);
  /* linear-gradient(rgba(0, 0, 0, 0.3)), rgba(0, 0, 0, 0.3), */
  background-size: cover;
  background-position: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__wrapper {
  width: 100%;
  max-width: 285px;
}
.hero__title {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 2.4rem;
}
.hero__btn {
  border: 0;
  background-color: #1e90ff;
  padding: 1.2rem 1.4rem;
  font-family: inherit;
  transition: 0.3s;
}
.hero__btn:hover {
  background-color: rgba(30, 144, 255, 0.8);
}
.hero__btn:active {
  background-color: rgba(30, 144, 255, 0.6);
}
.hero__btn__inner-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.hero__btn__image::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/yuldus.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero__btn__text {
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.main__title {
  margin-bottom: 2.4rem;
  font-weight: 400;
  color: #222222;
  line-height: 2px;
}
.main {
  width: 50%;
  height: 100%;
  padding: 5.4rem;
}
.main__divider {
  border-top: none;
  border-style: solid;
  border-width: 1px;
  border-color: #999999;
  margin-bottom: 2.4rem;
}
/* eefer */
.main__content {
}
.main__content__list {
}
.main__content__item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__content__image {
}
.main__content__info {
  margin-left: 1.6rem;
}
.main__content__title {
  color: #222;
  font-family: "Bebas Neue" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  transition: 0.3s;
}
.main__content__title:hover {
  cursor: pointer;
  color: #1e90ff;
}
.main__content__title:active {
  color: rgba(30, 144, 255, 0.6);
}
.main__content__counter {
  margin-top: 0.4rem;
}
.main__content__time {
}
.main__content__closki {
  position: relative;
  top: 3px;
}
.main__content__span {
  margin-left: 0.4rem;
  color: #666;
  font-family: "Roboto Condensed" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__content__view {
  margin-left: 2.4rem;
}
.main__content__btn {
  margin-top: 2.3rem;
  width: 100%;
  padding: 1.2rem;
  display: flex;
  width: 492px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #1e90ff;
  color: #fff;
  font-family: "Roboto Condensed" sans-serif;
  margin-left: 10px;
  transition: 0.3s;
}
.main__content__btn:hover {
  background: rgba(30, 144, 255, 0.8);
}
.main__content__btn:active {
  background: rgba(30, 144, 255, 0.6);
}
.main__content__image1 {
  margin-left: 10px;
}
.main__content__image2 {
  margin-left: 10px;
}
